{
    "extends": "airbnb",
    "installedESLint": true,
    "plugins": [
        "react"
    ],
    "rules": {
      "func-names": 0,
      "react/jsx-filename-extension": 0,
      "react/prefer-stateless-function": 0,
      "arrow-body-style": 0,
      "import/prefer-default-export": 0,
      "new-cap": 0,
      "import/no-named-as-default": 0,
      "import/no-named-as-default-member": 0,
      class-methods-use-this: 0,
      "react/forbid-prop-types": 0
    },
    "globals": {
        "ReactNative": true,
        "React": true,
        "Immutable": true,
        RatingTracker: true
    },
    "env": {
      "node": true,
      "jest": true
    }
}
